@import "../../global.scss";

.topbar{
    background-color: white;
    color:$mainColor;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 2; //para ficar na camada no topo da pilha de elementos
    
}

.wrapper{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .topLeft{

        .logo{
            font-weight: 700;
            font-size: 38px;
            text-decoration: none;       //tira o sublinhado do link
            color: inherit;
        }
    }
}